/*---------------------------------
    Fonts
  ---------------------------------*/
$font-abel: 'Abel', sans-serif;
$font-barlow: 'Barlow', sans-serif;


/*---------------------------------
    Font sizes
  ---------------------------------*/
$font-size-small: 12px;
$font-size-normal: 16px;
$font-size-medium: 20px;
$font-size-large: 28px;
$font-size-xlarge: 30px;
$font-size-huge: 42px;


/*---------------------------------
    Colors
  ---------------------------------*/
$color-accent: #E85353;
$color-gray: #4D4C55;
$color-black: #232323;
$color-white: #fff;
$color-primary: #7DCAFF;
$color-aside: #F3F3F3;
